body {
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color:rgb(196, 198, 242) ;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    margin: 20px;
    border-radius: 50%;
    width: 100px;
}
  
  img{
    box-shadow: 0 8px 7px rgba(15, 110, 56, 0.1);
    margin-top: auto;;
    border-radius: 50%;
    border: AUTO;
    margin: 0 auto 20px;
    width: 200px;
    height: 200PX;

  }
  .BOX {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 700px;
    height: 400PX;
    
  }
  a{
    text-decoration: none;
    cursor: pointer;
    color:white;
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
  }
 button {
    border: none;
    background-color: rosybrown;
    padding: 10px;
    border-radius: 10px;
 }
 p ,h2 {
    color: purple;
 }
  

  
  